h1 {
    margin: auto;
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 27px;
    margin-top: 90px;
    text-decoration: underline;
    
}

.first-subtitle {
    margin-top: 40px;
}